:root {
  --mainBlue: #061161;
  --lightBlue: #7ab4d6;
  --lightDark: #2c2c2c;
  --mainWhite: #fff;
  --mainDark: #000;
  --mainYellow: #f9c851;
  --mainGreen: #00a651;
  --mainRed: #e8334a;
  --mainPurple: #a55eea;
  --mainPink: #f2749b;
  --mainOrange: #f9c851;
  --mainBrown: #8d6e63;
  --mainBeige: #f5f5dc;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue) !important;
}

.text-bright {
  color: var(--lightBlue) !important;
}

.btn-black {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.btn-black:hover {
  background: var(--mainBlue) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
}

.cardbox {
  border: 1px solid var(--mainDark) !important;
  border-radius: 0.5rem !important;
}
